<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>64515816610-vf0pf783ra6vfc8nf9ao24hi7k468jni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64515816610-vf0pf783ra6vfc8nf9ao24hi7k468jni</string>
	<key>API_KEY</key>
	<string>AIzaSyDr0-7TcZ_jVDvv3pk8QGcOPDVeeQEKzOI</string>
	<key>GCM_SENDER_ID</key>
	<string>64515816610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Lab-7</string>
	<key>PROJECT_ID</key>
	<string>lab-7-13e25</string>
	<key>STORAGE_BUCKET</key>
	<string>lab-7-13e25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64515816610:ios:ebc3a08534a57ed3</string>
	<key>DATABASE_URL</key>
	<string>https://lab-7-13e25.firebaseio.com</string>
</dict>
</plist>